@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;           /* Standard syntax */
    -webkit-user-select: none;   /* Chrome, Safari, Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    -webkit-tap-highlight-color: transparent;

}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: system-ui, -apple-system, sans-serif;
    padding: 20px;
}

.game-container {
    width: 100%;
    max-width: 550px;
    height: 920px;
    background: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top-bar {
    padding: 7% 7%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.progress {
    flex: 1;
    height: 25px;
    background: #e5e5e5;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background: #4CAF50;
    border-radius: 25px;
    transition: width 0.3s ease;
    z-index: 1;
}

.flag-display {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-frame {
    width: 300px;
    height: 180px;
    background: #e5e5e5;
    box-shadow: 0 8px 0px #e5e5e5;
    border-radius: 16px;
    margin-top: 15%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.choices {
    padding: 15% 7% 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.choice {
    height: 120px;
    background: white;
    border: 5px solid #e5e5e5;
    box-shadow: 0 8px 0px #e5e5e5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b4b4b;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.choice:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 0px #e5e5e5;
}

.choice.correct {
    color: #4CAF50;
    background: #dff8e0;
    border-color: #4CAF50;
    box-shadow: 0 8px 0px #4CAF50;
}

.choice.incorrect {
    color: #F44336;
    background: #ffd7d7;
    border-color: #F44336;
    box-shadow: 0 8px 0px #F44336;
}